body
{
    background-color:#404040;
    font-family: 'Lato', sans-serif; 
}
#conteiner
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;

}

#logo
{
    color: brown;
    margin-top:20px;
    font-size:40px;
    letter-spacing:3px;
    font-weight:900;

}

#menu
{
    background-color: #303030;
    margin-top: 20px;
    color: #ffffff;
    padding: 10px;

     

}

#topbar
{
    background-color: #128870;
    color: white;
    padding:10px;
    margin-top: 20px;
    margin-bottom:25px;
    height: 210px;

}
#topbarL
{
    float: left;
    padding:20px;
    width: 363px;
    text-align: center;
    

}
#topbarR
{
    float: left;
    padding: 20px;
    width:535px;
    height: 170px;
    font-size:18px;
    text-align: justify;
    border-left: 2px dotted #cccccc;
}
#sidebar
{
    float: left;
    width: 290 px;
    min-height: 1000px;
    padding:20px;
    background-color: #376e04;
    text-align: justify;
    font-size: 20px;
    margin-right:25px;
    margin-bottom:25px;
}

#content
{
    float: left;
    width:729px;
    min-height: 960px;
    padding:40px;
    background-color: #bed300;
    font-size: 20px;
    text-align: justify;
    margin-bottom:25px;


}

#footer
{
    clear: both;
    color: white;
    padding:20px;
    font-size:20px;
    text-align: center;
} 
.option
{
    float:left;
    min-width: 50px;
    height:25px;
    font-size:18px;
    padding: 10px;
    border-right: 2px dotted #1d03ad;
    opacity: 0,8;
}
.option:hover
{
    background-color:#000000;
    cursor:pointer;
}
.optionL
{
    font-size:17px; 
    padding: 5px;
    height:25px;
    border-bottom: 2px dotted #1d03ad;
    
}
.optionL:hover
{
    background-color:#000000;
    cursor:pointer;
    color: white; 
}
.bigtitle
{
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 2px;
 }
 .dottedline
 {
     height: 5px;
     margin-top: 5px;
     margin-bottom: 3px;
     border-bottom: 2px dotted #444444;
 }